{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                Please answer the following questions.
            </p>

            <p>
                1) Mary’s mother had four children. The youngest three are named: Spring, Summer, and Autumn. What is the oldest child’s name?
                {% formfield player.cognitive_reflection_one with label="" %}
            </p>
            <br>
            <p>
                2) Jerry received both the 15 th highest and the 15 th lowest mark in the class. How many students are in the class?
                {% formfield player.cognitive_reflection_two with label="" %}
            </p>
            <br>
{#            <p>#}
{#                3) If you flipped a fair coin 3 times, what is the probability that it would land “Heads” at least once?#}
{#                {% formfield player.cognitive_reflection_three with label="" %}#}
{##}
{#            </p>#}
{#            <br>#}
            <p>
                3) A bear loses 20% of its weight during hibernation. If it weighs 100 pounds after hibernation, how many pounds did it weigh before ?
                {% formfield player.cognitive_reflection_four with label="" %}
            </p>
            <br>
            <p>
                4) A notebook and a pen cost 22 dollars in total. The notebook costs 20 dollars more than the pen. How many dollars does the notebook cost?
                {% formfield player.cognitive_reflection_five with label="" %}
            </p>
            <br>
            <p>
                5) If it takes 5 machines 5 minutes to make 5 bricks, how many minutes would it take 100 machines to make 100 bricks?
                {% formfield player.cognitive_reflection_six with label="" %}
            </p>

        </div>
    </div>

    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}

{% endblock %}
