{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <p>
                    How well does the following statement describe you as a person?
                </p>

                <p>
                    “As long as I am not convinced otherwise, I assume that people have only the best intentions.”
                    Please use the scale from 0 to 10, where 0 means “does not describe me at all" and a 10 means
                    “describes me perfectly".
                    You can also use the values in-between to indicate where you fall on the scale.
                </p>
                {% formfield player.demographic_one_scale with label="" %}
            </div>
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
