{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Feedback
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            Your answer <span  class="text-info">{{ player.question }}</span> was {% if player.question_correct %}<span class="text-success">correct</span>
            {% else %}<span class="text-danger">incorrect.</span>{% endif %}
        </p>
        <p>
            Say you put 60 KSh into the pot, the second player puts 30 KSh and the third player puts 60 KSh into the pot,
            how much money would you get in the end?
        </p>

        <p>
            <strong>Solution: 100 points</strong>
        </p>

        <p>
            <strong>Explanation:</strong> Total contribution from all participants was 60+30+60=150. Total earnings from the project were 150*2=300.
            Each participant got an equal share of the earnings, that is, 300/3=100. Hence, payoff for each participant irregardless of contribution is
            60+30+60*3/3=100.
        </p>
    </div>
    </div>

    <p><strong>Now we go on to real questions. Are you ready? Please click "Next" to continue</strong></p>

    {% next_button %}

{% endblock %}
