{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Guess
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            How much do you think the other players contributed? Please state below?
        </p>
    {% if player.id_in_group == 1%}
        {% formfield player.guess_one with label="I believe that player 2 contributed:" %}
        {% formfield player.guess_two with label="I believe that player 3 contributed:" %}
    {% elif player.id_in_group == 2 %}
        {% formfield player.guess_one with label="I believe that player 1 contributed:" %}
        {% formfield player.guess_two with label="I believe that player 3 contributed:" %}
    {% elif player.id_in_group == 3 %}
        {% formfield player.guess_one with label="I believe that player 1 contributed:" %}
        {% formfield player.guess_two with label="I believe that player 2 contributed:" %}
    {% elif player.id_in_group == 4 %}
        {% formfield player.guess_one with label="I believe that player 1 contributed:" %}
        {% formfield player.guess_two with label="I believe that player 2 contributed:" %}
    {% elif player.id_in_group == 5 %}
        {% formfield player.guess_one with label="I believe that player 1 contributed:" %}
        {% formfield player.guess_two with label="I believe that player 3 contributed:" %}
    {% elif player.id_in_group == 6 %}
        {% formfield player.guess_one with label="I believe that player 2 contributed:" %}
        {% formfield player.guess_two with label="I believe that player 3 contributed:" %}
    {% endif %}
    </div>
</div>
    <p><strong>Click Next to continue.</strong></p>
    {% next_button %}



{% endblock %}
