<div class="box effect7">
    <h4>Instructions</h4>
    <p>
        You are now matched with two other players. You have each received KSH 75. You must
        now decide how much of your KSH 75 to put into a shared fund. The other players will
        simultaneously decide how much to put into the shared fund. Each KSH put into the fund
        is multiplied by 2 and shared equally between the three of you. Each KSH you do not put
        into the fund you get to keep for sure.
    </p>
    <p>
        If you contribute KSH 50, and both other participants contribute KSH 50,
        the fund will increase to KSH 300 KSH and you all get back KSH 100.
    </p>
    <p>
        For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>
</div>