<div class="box effect7">
    <h4>Instructions</h4>
    <p>
        You are now matched with two other players. You have each received 75 KSh. You must
        now decide how much of your 75 KSh to put into a shared fund. The other players will
        simultaneously decide how much to put into the shared fund. Each KSh put into the fund
        is multiplied by 2 and shared equally between the three of you. Each KSh you do not put
        into the fund you get to keep for sure.
    </p>
    <p>
        If you contribute 50 KSh, and both other participants contribute 50 Ksh,
        the fund will increase to 300 Ksh and you all get back 100 Ksh.
    </p>
    <p>
        For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>
</div>