{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p>
            <strong>
                Your earned {{ payoff }} Tokens
                <br>
                Your earned {{ points }} Airtime vouchers
                <br>
                You will be paid {{ time_preference_future_points }} Tokens {{ time }} from <strong>Today</strong>
            </strong>
            </p>
            <p>
                Please remain seated until your number is called. Then take your number card, and proceed to a
                lab manager for the final short interview and to collect your payment.
            </p>
        </div>
    </div>

{% endblock %}

{% block form %}

{% endblock %}
