{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p>Your earned {{ payoff }} Tokens worth {{ payoff_ksh }} KSH.</p>
            <br>
            <p>Your earned {{ vouchers }} Airtime vouchers worth {{ airtime_worth }}.</p>
            <br>
            <p>You will be paid {{ chosen_future_tp }} Tokens amounting to {{ tp_tokens_ksh }} KSH {{ date_to_pay_tp }} from <strong>Today</strong>.</p>
            <br>
            <p>
                Please remain seated until your number is called. Then take your number card, and proceed to a lab manager for the final short interview and to collect your payment.
            </p>
        </div>
    </div>

{% endblock %}

{% block form %}

{% endblock %}
