{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-success">
      <div class="panel-body">
        <p>
            You have earned {{ max_donation }}. You can either keep this entire amount, or you can donate parts of
            it to a charity.
        </p>
        <p>
            You will now have the opportunity to donate to a charity organization helping children and
            youth in Kenya, <strong>{{ charity }}</strong>.
        </p>
        <p>
        You can decide to donate  between 0 and {{ max_donation }} of your tokens.
        </p>
        <p>
             {% formfield player.donated_amount with label="How much will you donate?" %}
        </p>
      </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
