{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Ravens
{% endblock %}

{% block content %}

    <div class="panel panel-default">
      <div class="panel-body">
        <p>
            In this game you are tasked with finding the missing piece for each puzzle, it is your task to identify the
            correct piece. Your earnings from this task will be given in airtime vouchers, and your earnings will depend on
            the number of correct answers.
        </p>
        <p>
        Observe the image below. Then, put your finger on the missing element that completes the
        image.
        </p>
      </div>
    </div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %}
{% endblock %}
