{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                In this part of the experiment you will complete a series of tasks. For each task, you are shown an
                image with a piece missing. Identify the correct answer by selecting the missing piece that completes
                the image.
            </p>
            <p>
                Your earnings from this part of the experiment will be given in the form of [airtime vouchers].
                Your earnings from this task depend on the number of tasks (out of six possible) that you complete correctly.
            </p>
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
