{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Play
{% endblock %}

{% block content %}

    <p>
        We will now do a series of practice rounds to get you familiar with the puzzles we will be
        doing in this game. For each puzzle, there is a piece missing, it is your task to identify the
        correct piece.
    </p>
    <br>
    <p>We are going to give you a practice task, find the missing piece. on the below image.</p><div class="container">
        <div class="row">
            <img src="{{STATIC_URL}}ravens/ravenp1/ravenp1.png" alt="">
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="form-group required">
        <div class="controls  field-raven_p1">
            <div class="row">
                <div class="col-md-3">
                    <label class="radio-inline" for="id_raven_p1_1">
                        <input type="radio" id="id_raven_p1_1" value="one" name="raven_p1" required="">
                        <img src="{{STATIC_URL}}ravens/ravenp1/one.png" alt="">
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline" for="id_raven_p1_2">
                        <input type="radio" id="id_raven_p1_2" value="two" name="raven_p1" required="">
                        <img src="{{STATIC_URL}}ravens/ravenp1/two.png" alt="">
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline" for="id_raven_p1_3">
                        <input type="radio" id="id_raven_p1_3" value="three" name="raven_p1" required="">
                        <img src="{{STATIC_URL}}ravens/ravenp1/three.png" alt="">
                    </label>
                </div>
                <div class="col-md-3"></div>

                <label class="radio-inline" for="id_raven_p1_4">
                    <input type="radio" id="id_raven_p1_4" value="four" name="raven_p1" required="">
                    <img src="{{STATIC_URL}}ravens/ravenp1/four.png" alt="">
                </label>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label class="radio-inline" for="id_raven_p1_5">
                        <input type="radio" id="id_raven_p1_5" value="five" name="raven_p1" required="">
                        <img src="{{STATIC_URL}}ravens/ravenp1/five.png" alt="">
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline" for="id_raven_p1_6">
                        <input type="radio" id="id_raven_p1_6" value="six" name="raven_p1" required="">
                        <img src="{{STATIC_URL}}ravens/ravenp1/six.png" alt="">
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline" for="id_raven_p1_7">
                        <input type="radio" id="id_raven_p1_7" value="seven" name="raven_p1" required="">
                        <img src="{{STATIC_URL}}ravens/ravenp1/seven.png" alt="">
                    </label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline" for="id_raven_p1_8">
                        <input type="radio" id="id_raven_p1_8" value="eight" name="raven_p1" required="">
                        <img src="{{STATIC_URL}}ravens/ravenp1/eight.png" alt="">
                    </label>
                </div>
            </div>
        </div>
    </div>

    <p><strong>Please click "Next" to continue</strong></p>
{% next_button %}
{% endblock %}
