{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load static %}
{% block title %}
Play
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <img src="{{STATIC_URL}}ravens/raven_two/raven2.png" alt="">
            </div>
        </div>
        <div class="form-group required">
            <div class="controls  field-raven_2">
                <div class="row">
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_1">
                            <input id="id_raven_2_1" value="one" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/one.png" alt="">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_2">
                            <input id="id_raven_2_2" value="two" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/two.png" alt="">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_3">
                            <input id="id_raven_2_3" value="three" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/three.png" alt="">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_4">
                            <input id="id_raven_2_4" value="four" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/four.png" alt="">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_5">
                            <input id="id_raven_2_5" value="five" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/five.png" alt="">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_6">
                            <input id="id_raven_2_6" value="six" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/six.png" alt="">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_7">
                            <input id="id_raven_2_7" value="six" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/seven.png" alt="">
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="radio-inline" for="id_raven_2_8">
                            <input id="id_raven_2_8" value="six" name="raven_2" required="" type="radio">
                            <img src="{{STATIC_URL}}ravens/raven_two/eight.png" alt="">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %} {% endblock %}
