{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                First round (Participant A):In this part of the experiment, you are endowed with <strong>600 Tokens</strong>.
                In the next round another
                participant, “B”, will be matched with you. Participant B is not given anything. You can choose to send
                any amount, between <strong>0 and 600 Tokens</strong>, to Participant B. Any amount not sent to Participant
                B, will be
                yours to keep. Any amount you send to Participant B will be multiplied by 3. In the second round,
                Participant B can choose to send back some or all of this amount to you. Any amount that is not sent
                back to you by Participant B will be kept by Participant B.
            </p>

            <p>
                Your earnings from this part of the experiment depend on the choice you make in this first round as well
                as the choice of one other Participant B in the next round.
            </p>
            <p>
                Please note that the other participant will not be able to know that you are paired with them, nor will
                you know which other participant is paired with you. Your choice is anonymous.
            </p>
        </div>
    </div>

    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}

{% endblock %}
