{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                You are <strong>Player One.</strong> Now you have {{ Constants.amount_allocated }}. How many KSH will you send to <strong>Player Two</strong>?
            </p>
            {% formfield player.sent_amount with label="Please enter a number from 0 to 50:" %}
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
