{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                Your partner has {{ raven_points }} vouchers. How many of their vouchers would you like to destroy?
            </p>
            <p>
                {% formfield player.player_destroyed with label="" %}
            </p>
        </div>
    </div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %}
{% endblock %}
