{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
               {{ destroyed }} of your gift cards were destroyed.
            </p>
            <p><strong>Note that this outcome could be from a combination of factors, both the computer and the other participant's choice.</strong></p>
        </div>
    </div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %}
{% endblock %}
