{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                You are now randomly matched with another participant. You have both completed the puzzle task and
                earned a number of [airtime vouchers]. You may now choose to destroy some of the
                other participant’s gift cards.
            </p>
            <p>
                Please note that the other participant will not be able to know that you are paired with them, nor will
                you know which other participant is paired with you. Your choice is anonymous. Your choices will never
                be revealed to any other participant
            </p>
            <p>
                After your choice has been made, the computer will flip a virtual coin. If it is heads, the computer
                will not destroy any of the [vouchers]. If it is tails, the computer will also destroy some
                random number of the other participant’s [vouchers]. The other player will never be able to
                distinguish how many [vouchers] are destroyed because of your choice, and how many are
                destroyed because of the computer.
            </p>
            <p>
                Your choice does not affect your own earnings, only the earnings of the other participant.
            </p>
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
