{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                In this task, you make a choice between different amounts of tokens that you can receive based on a toss
                of a coin. You have the choice between seven coins, each with different payouts for heads and tails.
                All coins
                have an equal chance of landing on heads or on tails. Once you have chosen, the computer will toss a
                virtual
                coin representing the coin you have chosen.
            </p>
            <p>
                Your earnings from this part of the experiment depend on your choice and the result of the coin toss.
                Therefore, it is in your interest to carefully pick the option you truly prefer.
            </p>
            <p>
                These are the 7 different coins from which you will choose one:
            </p>
            <ul>
                <li>Coin 1: 0 tokens if heads and 2880 tokens if tails</li>
                <li>Coin 2: 240 tokens if heads and 2400 tokens if tails</li>
                <li>Coin 3: 480 tokens if heads and 1920 tokens if tails</li>
                <li>Coin 4: 720 tokens if heads and 1440 tokens if tails</li>
                <li>Coin 5: 840 tokens if heads and 1200 tokens if tails</li>
                <li>Coin 6: 960 tokens if heads and 960 tokens if tails</li>
                <li>Coin 7: 1080 tokens if heads and 720 tokens if tails</li>
            </ul>
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
