{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="alert alert-info" role="alert">
            Drag slider until the slider is on the figure indicated on top of the slider.
        </div>
        <div class="panel-body">
            <div class="col-md-12" align="center">
                {{ player.rsv_37 }}{% formfield player.psv_37 with label="" %}
            </div>
        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}

{% endblock %}
