{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            {% if rank == "low" %}
                <p>
                    You and another participant are now paired. You both worked on the slider task and each earned 600
                    tokens, based on your performance. Together, the two of you have earned 1200
                    tokens. You will now decide how much of the 1200 tokens you
                    suggest for yourself and how much you suggest for the other participant.
                </p>
                <p>
                    You are free to choose any amount of tokens between 0 and 1200.
                </p>
            {% elif rank == "high" %}
                <p>
                    You and another participant are now paired. You both worked on the slider task and each earned 1200
                    tokens, based on your performance. Together, the two of you have earned 2400
                    tokens. You will now decide how much of the 2400 tokens you
                    suggest for yourself and how much you suggest for the other participant.
                </p>
                </p>
                <p>
                     You are free to choose any amount of tokens between 0 and 2400.
                </p>
            {% endif %}

        </div>
    </div>
    <p><strong>Please click "Next" to continue</strong></p>
    {% next_button %}
{% endblock %}
