{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
        {% if rank == "high" %}
            <p>
                You and another participant are now paired. You have both worked on the slider tasks and
                earned KSH 75. Together you have earned KSH 150. You are now going to determine how
                much of the KSH 150 you suggest for yourself and how much you suggest for the other participant.
                You are free to choose any amount in whole shillings between KSH 0 and KSH 150. Examples:
            </p>
            <p>
                1. If you assign KSH 150 to you, the other participant gets KSH 0.
            </p>
                2. If you assign KSH 75 to you, the other participant gets KSH 75.
            </p>
            <p>
                3. If you assign KSH 0 to you, the other participant gets KSH 150.
             </p>
            <p>
        {% elif rank == "low"%}
            <p>
                You and another participant are now paired. You have both worked on the slider tasks and
                earned KSH 25. Together you have earned KSH 50. You are now going to determine how
                much of the KSH 50 you suggest for yourself and how much you suggest for the other participant.
                You are free to choose any amount in whole shillings between KSH 0 and KSH 50. Examples:
            </p>
            <p>
                1. If you assign KSH 50 to you, the other participant gets KSH 0.
            </p>
                2. If you assign KSH 25 to you, the other participant gets KSH 25.
            </p>
            <p>
                3. If you assign KSH 0 to you, the other participant gets KSH 50.
             </p>
            <p>
        {% endif %}

    </div>
</div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %}
{% endblock %}
