{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Understanding Question
{% endblock %}

{% block content %}
<p></p>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
        If you have 50 Ksh and you decide to keep 25 Ksh, <strong>How much will your partner get?</strong>
        {% formfield player.answer with label="" %}
        </p>
    </div>
</div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %}

{% endblock %}
